/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #F5F2F2;
  --black: #262425;
  --green: #178B5F;
  --yellow: #F8AB15;
  --red: #BF1631;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);

  --color-border: var(--black);

  --color-text: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);

    --color-border: var(--white);
  
    --color-text: var(--white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  /* transition: color 0.5s, background-color 0.5s; */
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
